*.pyc
*.DS_Store
*.db
*.c
*.so
*.o
*.h5
*.orig
.ipynb_checkpoints/
/build/
/dist/
/dedalus.egg-info/
/dedalus/examples.tar.gz
**/results
*snapshots*
*frames*
*profiles*
*checkpoint*
*results*
restart.h5
*avg_profs*
*.h5*
*examples*
*.o*
profs/*
RA5E8/*
*.sty
*.aux
*.log
*.fls
*.cls
*.blg
*.fdb_latexmk
*.gz
*.bib
*.synctex

